.whole-container{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: whitesmoke;
    padding: 30px 20px;
    margin: 10px 10px;
}

.inner-container{
    background-color: white;
    color: black;
    padding: 20px;
    margin: auto;
}

.navbar-brand {
    font-size: 35px;
  }

.list-group {
    font-weight: bold;
}